* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}
/* scrollbars */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* TopBar */
header {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem;
}

header .tabs {
  display: flex;
  margin-top: 0.5rem;
}

.search_container {
  width: fit-content;
  margin: 20px auto;
}

.searchbar {
  width: 500px;
}
form .search {
  width: 100%;
  position: relative;
  display: flex;
}

.search_field:focus {
  color: #00b4cc;
}

input#search_input {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

button.search_button {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

header .tabs a {
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    color: #737B7D;
    outline: none;
}

form.searchbar input[type="text"] {
  padding: 20px;
  font-size: 15px;
  border: none;
  float: left;
  width: 85%;
  outline: none;
}

form.searchbar button {
    padding: 19px;
    border: none;
    cursor: pointer;
}

form.searchbar button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

.menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs a.active {
  border-bottom: 4px solid rgb(47 47 47 / 87%);
}

/* Tab contents */
.tabcontent {
  padding: 20px 40px;
  max-width: 100%;
  display: none; /* default menu tabs removed */
  position: absolute;
  z-index: 1;
}

#maps {
  height: calc(100% - 90px);
}

/* form css */
.card_layout_interests {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 480px;
  width:600px;
  padding: 20px 40px;
  max-width: 100%;
  position: absolute;
  z-index: 1;  
  background: #FFFFFF;
  box-shadow: 0px 5px 6px rgb(0 0 0 / 20%), 0px 3px 16px rgb(0 0 0 / 12%), 0px 9px 12px rgb(0 0 0 / 14%);
  border-radius: 4px;
  margin-top: 10px;

}

/* form css */
.card_layout_recs {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 480px;
  width:fit-content;
  padding: 20px 40px;
  max-width: 100%;
  position: absolute;
  z-index: 1;  
  background: #FFFFFF;
  box-shadow: 0px 5px 6px rgb(0 0 0 / 20%), 0px 3px 16px rgb(0 0 0 / 12%), 0px 9px 12px rgb(0 0 0 / 14%);
  border-radius: 4px;  
  margin-top: 10px;
}

.location {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.location span {
  flex-grow: 1;
}

/*This btn style was inspired by https://codepen.io/priosoft/pen/dMryaY*/
.btn {
      font-weight: 700;
    background-image: linear-gradient( 
45deg
 , #f7c568 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    border: none;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 5rem;
    font-size: 14px;
    transition: background 300ms ease-in-out;
    outline:0;
}

/*This btn style was inspired by https://codepen.io/priosoft/pen/dMryaY*/
.btn:hover {
  color: #1e2633;
  outline: 0;
  background-position: 0;
}

.card_heading {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
  text-align: center;
}

.grid_view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.activity_entry {
  background-color: #e0e0e0;
  display: block;
  width: 100%;
  border-radius: 4px;
}

.activity_entry label {
  border-radius: 4px;
  padding: 20px 30px;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.activity_entry label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #373f41;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  z-index: -1;
}

.activity_entry label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #737b7d;
  background-color: #e0e0e0;
  background-position: 3px 3.5px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.activity_entry input:checked ~ label {
  color: #fff;
}
.activity_entry input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.activity_entry input:checked ~ label:after {
  background-color: #f8f8ff;
  border-color: #f8f8ff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23373F41' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 3px 3.5px;
  transform: translateY(-50%);
  transition: all 200ms ease-in;
}
.activity_entry input {
  position: absolute;
  visibility: hidden;
}

/* interests form tab_content*/
.user_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px;
}

/* interests form tab_content*/
.user_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user_input .button_submit {
    justify-self: end;  /* align to end of column */
}

.form_control {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* skip button */
.button_skip {
  font-weight: 600;
  cursor: pointer;
}

.button_next {
  font-weight: 600;
  cursor: pointer;
}

.form_container {
  display: flex;
  width: 400%; /* larger width for multiple sections*/
}

.form_container .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
